{% extends 'admin/issue/layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	<a class="current" href="#">{{ title }}</a>
	<a href="javascript:history.back();" id="link-voltar">voltar</a>
{% endblock %}

{% block group %}
	
	{% if response %}
		{{ blocks.alert(response.text, response.class) }}
	{% endif %}
	
	<div class="row">
		<div class="large-12 columns">
			<h5>Pergunta</h5>
	  		
			<form class="custom" method="post" id="form">

				<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
				<input type="hidden" name="questionnaire_id" value="{{ questionnaire.id }}">
				<textarea name="enunciation" id="enunciation" required="1" placeholder="Pergunta"></textarea>

				{{ blocks.select_issue_types(issue_types) }}

				<div class="content"></div>

				<hr />

				{{ blocks.issue_options(issue) }}

				<input type="hidden" name="order" id="order">

				<hr />
				<input type="submit" class="button alert tiny" value="Finalizar">
			</form>
		</div>
	</div>

{% endblock %}

{% block js_bottom %}
	{{ parent() }}
	<script>
		$(function () {
			$('#change_type').on('change', function() {
				window.location = "{{ urladm ~ '/issue/new/' }}" + $(this).val() + "/questionnaire/{{ questionnaire.id }}";
			});
		});
	</script>
{% endblock %}