{% extends 'front/layout.html.twig' %}

{% block nav_left %}
	{{ parent() }}
	<li><a href="/not_evaluate/{{ token }}">Voltar para Lista</a></li>
{% endblock %}

{% block nav_right %}
	{{ parent() }}
	<li><a href="">{{ evaluator.name }}</a></li>
	<li><a href="">{{ evaluator.email }}</a></li>
{% endblock %}

{% block content %}
	
	{% if response %}
		{{ blocks.alert(response.text, response.class) }}
	{% endif %}

	<div class="row">
		<div class="large-12">
			<h3>&nbsp;</h3>
			<ul>
				<li><b>Avaliação:</b> {{ evaluation.subject|default(evaluation.name) }} (Período {{ evaluation.start_at|date('d/m/y') }} a {{ evaluation.start_at|date('d/m/y') }})</li>
				<li><b>Respondida</b> por {{ valued.name }} em {{ sending.answered_at|date('d/m/y à\\s H:i') }}</li>
				{# <li><b>Respostas:</b> {{ answers|length }}</li> #}
				<li><b>Autoavaliação:</b> {{ sum_issue_0_10|replace('.', ',') }}</li>
				<li><b>Avaliação:</b> <span class="evaluation_note"></span></li>
			</ul>
		</div>
	</div>

	<hr />

	{% if answers %}
	<form action="{% if evaluate %}{{ base }}correct/{{ token }}{% endif %}" method="post">
		
		<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
		<input type="hidden" name="sending_id" value="{{ sending_id }}">

		<div class="row">
			<div class="large-12">
				{% set number = 1 %}
				{% for answer in answers %}
					{% set issue = answer.issue %}
					{% if issue.type == 'open' %} {{ blocks.issue_open(number, issue, urladm, false, null, answer, evaluate) }} {% endif %}
					{% if issue.type == 'boolean' %} {{ blocks.issue_boolean(number, issue, urladm, false, null, answer, evaluate) }} {% endif %}
					{% if issue.type == 'only_choice' %} {{ blocks.issue_only_choice(number, issue, urladm, false, null, answer, evaluate) }} {% endif %}
					{% if issue.type == 'multiple_choice' %} {{ blocks.issue_multiple_choice(number, issue, urladm, false, null, answer, evaluate) }} {% endif %}
					{% if issue.type in ['0_10', '0-10'] %} {{ blocks.issue_0_10(number, issue, urladm, false, null, answer, evaluate) }} {% endif %}
					{% if issue.type == 'scale' %} {{ blocks.issue_scale(number, issue, urladm, false, null, answer, evaluate) }} {% endif %}
					{% set number = number + 1 %}
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="large-12">
				<b>Avaliação:</b> <span class="evaluation_note"></span>
			</div>
		</div>


		<div class="row">
			<div class="large-12 text-center">
		{% if evaluate %}
				<input type="submit" class="button alert small" value="Finalizar">
		{% else %}
				<a href="javascript:history.back();">Voltar para lista</a>
		{% endif %}
			</div>
		</div>
		    

	</form>
	{% else %}
	<div class="row">
		<div class="large-12">
			<strong>{{ valued.name }}</strong> ainda não respondeu a avaliação. <a href="{{ base ~ '/correct/' ~ token }}">Voltar</a>
		</div>
	</div>
	{% endif %}

{% endblock %}

{% block js_bottom %}
	{{ parent() }}
	<script>

	

    $(function() {
        $('.range_note').on('click', function() {
            $(this).parent().children('.display_note').html($(this).val().replace('.', ','));
            evaluation_note();
        });
    });

    function strpos (haystack, needle, offset) {
	  	var i = (haystack + '').indexOf(needle, (offset || 0));
	 	return i === -1 ? false : i;
	}

    function evaluation_note () {
    	var range_notes = $('.range_note:checked');
    	var sum = 0;

    	$.each(range_notes, function (i, range_note) {
    		console.log($(range_note).val());
    		var v = parseFloat($(range_note).val());
    		sum = sum + v;
    	});
    	sum = sum + ',00';
    	$('.evaluation_note').html(sum);
    };

	evaluation_note();


    </script>
{% endblock %}
