{% extends 'admin/settings/layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	<a class="current" href="#">{{ title }}</a>
	<a href="javascript:history.back();" id="link-voltar">voltar</a>
{% endblock %}

{% block group %}

	{% if response %}
		{{ blocks.alert(response.text, response.class) }}
	{% endif %}

	<form class="" action="{{ urladm ~ '/settings/change_password' }}" method="post">

		<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">

		<div class="row">
			<div class="large-12 columns">
				<input type="password" name="new_password" placeholder="Nova senha">
			</div>
		</div>

		<div class="row">
  			<div class="large-10 columns">
    			<input class="small button alert" type="submit" value="Finalizar">
    			<a class="button small secondary" href="javascript:history.back();">Cancelar</a>
			</div>
		</div>
	</form>
{% endblock %}

{% block js_bottom %}
	{{ parent() }}

	<script>
	$(function () {

		$('input[name="action"]').on('change', function () {
			var that = $(this);
			$('.content').hide();
			that.parent('label').parent('div').children('.content').show();
		});
	});
	</script>
{% endblock %}
